/* Ce fichier CSS est utilisé pour styliser les erreur*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: red;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #03377a, #0270ff);
    width: 20%;
    height: 50px;
    padding: 10px;
    border: black, solid;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 20px;
    text-decoration: none;
}