@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* TITRE PRINCIPAL */

.titre {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    color: #F9BB30;
    font-size: 3em;
    margin-top: 70px;
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.separateur-double-ligne-B2 {
    width: 78%;
    margin: 0 auto;
    display: block;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 15%, transparent 16%), radial-gradient(rgba(0, 0, 0, 0.15) 15%, transparent 16%);
    background-size: 15px 15px;
    background-repeat: repeat;
    height: 25px;
    opacity: 1;
}


/* CONTAINER PRINCIPAL CENTRÉ */

.container-recurr {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 13px;
}


/* TABLE STYLE */

.tbl-qa-recurr {
    width: 80%;
    font-size: 1em;
    background-color: #f5f5f5;
    border-radius: 15px;
    border: 1px solid #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.tbl-qa-recurr th.table-header {
    padding: 8px;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5em;
    color: #000000;
    border-bottom: 1px solid #ccc;
}

.tbl-qa-recurr tr.table-row td {
    padding: 22px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #ddd;
}


/* BOUTON AJOUTER */

.add_recurr {
    background-color: #F9BB30;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 12px 24px;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Ajoute une hauteur fixe au tbody si trop d’enregistrements */

.tbl-qa-recurr tbody {
    display: block;
    max-height: 440px;
    overflow-y: auto;
}


/* Fixe aussi la largeur pour aligner les colonnes */

.tbl-qa-recurr thead,
.tbl-qa-recurr tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.modif_recurr {
    background-color: #4151AC;
    color: #f5f5f5;
    font-size: 1.1em;
    border: none;
    text-decoration: none;
    padding: 6px 15px;
    /* Ajoute de l'espace à l'intérieur du bouton */
    border-radius: 15px;
    /* bordure du bouton (arrondie)*/
}

.add:hover {
    background-color: #e0a727;
}

.error {
    color: red;
}

.error-border {
    border: 2px solid red;
}

.frm-add-recurr {
    font-family: 'Inter', sans-serif;
    width: 91%;
    margin: auto;
}

.frmAdd-recurr {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    gap: 1.8rem;
    border-radius: 15px;
    background: #efefef;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #928e8e;
    width: 80%;
    padding: 50px;
}

.demo-form-row-titre {
    margin: auto;
    text-align: center;
    width: 150%;
}

.demo-form-field-titre {
    width: 350px;
    padding: 7px;
    background-color: #DFD9D9;
    border: none;
    border-radius: 5px;
}

.demo-form-row-descr {
    margin: auto;
    text-align: center;
    width: 100%;
}

.demo-form-des {
    flex-direction: column;
    width: 50%;
    height: 120px;
    padding: 10px;
    background-color: #DFD9D9;
    border: none;
    border-radius: 15px;
    text-align: left;
    /* Aligner le texte à gauche */
}

.demo-form-row {
    margin: auto;
    width: 30%;
}

.demo-form-field {
    width: 150px;
    padding: 7px;
    background-color: #DFD9D9;
    border: none;
    border-radius: 5px;
}

.demo-form-freq {
    width: 50px;
    padding: 7px;
    background-color: #DFD9D9;
    border: none;
    border-radius: 5px;
}

.add2_recurr {
    background-color: #F9BB30;
    color: #f5f5f5;
    font-size: 0.9em;
    border: none;
    padding: 10px 25px;
    /* Ajoute de l'espace à l'intérieur du bouton */
    border-radius: 15px;
    /* bordure du bouton (arrondie)*/
}

.supp-btn_recurr {
    background-color: #f93030;
    color: #f5f5f5;
    font-size: 0.9em;
    border: none;
    text-decoration: none;
    padding: 10px 25px;
    /* Ajoute de l'espace à l'intérieur du bouton */
    border-radius: 15px;
    /* bordure du bouton (arrondie)*/
}

.retour_liste_recurr {
    background-color: #4151AC;
    color: #f5f5f5;
    font-size: 0.7em;
    border: none;
    text-decoration: none;
    padding: 10px 25px;
    /* Ajoute de l'espace à l'intérieur du bouton */
    border-radius: 15px;
    /* bordure du bouton (arrondie)*/
}

.filter-btn {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 8px;
    background-color: #F9BB30;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    /* Permet de positionner le menu par rapport à ce div */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    /* Affiche en dessous du bouton */
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 23px;
    width: 150px;
    /* Largeur du menu */
    border-radius: 5px;
    z-index: 100;
}

.dropdown.show .dropdown-content {
    display: block;
    /* Affiche le menu quand on clique */
    font-family: 85em;
}

.compteur-caracteres {
    font-size: 13px;
    color: #555;
    text-align: right;
    margin-top: 5px;
}

.popup {
    display: none;
    position: absolute;
    background: #DFD9D9;
    color: #000000;
    font-size: 1.5em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding: 20px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.popupDel {
    display: none;
    position: absolute;
    background: #DFD9D9;
    color: #000000;
    font-size: 1.5em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding: 20px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.popup.error {
    border-color: red;
}

.popup-ok-btn {
    font-size: 1.0em;
    background: #F9BB30;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    /* Ajoute de l'espace à l'intérieur du bouton */
}

.popup-close {
    float: right;
    cursor: pointer;
    font-weight: bold;
}


/*Responsive pour l'écran d'inscription*/

@media screen and (max-width: 1000px) {
    .titre {
        font-size: 50px;
    }
    label {
        font-size: 18px;
    }
    /* TABLE STYLE */
    .tbl-qa-recurr {
        width: 100%;
        font-size: 1em;
        background-color: #f5f5f5;
        border-radius: 15px;
        border: 1px solid #555;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
    }
    .tbl-qa-recurr th.table-header {
        padding: 8px;
        text-align: center;
        font-family: 'Caveat Brush', cursive;
        font-size: 0.55em;
        color: #000000;
        border-bottom: 1px solid #ccc;
    }
    /* Ajoute une hauteur fixe au tbody si trop d’enregistrements */
    .tbl-qa-recurr tbody {
        display: block;
        font-size: 0.45em;
        max-height: 320px;
        overflow-y: auto;
    }
    /* Fixe aussi la largeur pour aligner les colonnes */
    .tbl-qa-recurr thead,
    .tbl-qa-recurr tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .filter-btn {
        font-family: 'Inter', sans-serif;
        font-size: 0.9em;
        padding: 4px;
        cursor: pointer;
        background-color: #F9BB30;
        border: none;
        border-radius: 5px;
    }
    .modif_recurr {
        background-color: #4151AC;
        color: #f5f5f5;
        font-size: 0.7em;
        border: none;
        text-decoration: none;
        bottom: 15px;
        /* Distance du bas */
        left: 15px;
        /* Distance de la gauche */
        padding: 8px 15px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
    .add2_recurr {
        background-color: #F9BB30;
        color: #f5f5f5;
        font-size: 0.9em;
        border: none;
        padding: 10px 25px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
    .retour {
        background-color: #4151AC;
        color: #f5f5f5;
        font-size: 0.5em;
        border: none;
        text-decoration: none;
        left: 15px;
        /* Distance de la gauche */
        padding: 10px 25px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
}

@media screen and (max-width: 500px) {
    .titre {
        font-size: 1.95em;
    }
    /* TABLE STYLE */
    .tbl-qa-recurr {
        width: 95%;
        font-size: 0.95em;
        background-color: #f5f5f5;
        border-radius: 15px;
        border: 1px solid #555;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
    }
    .tbl-qa-recurr th.table-header {
        padding: 10px;
        text-align: center;
        font-family: 'Caveat Brush', cursive;
        font-size: 0.6em;
        color: #000000;
        border-bottom: 1px solid #ccc;
    }
    /* Ajoute une hauteur fixe au tbody si trop d’enregistrements */
    .tbl-qa-recurr tbody {
        display: block;
        font-size: 0.6em;
        max-height: 500px;
        overflow-y: auto;
    }
    .tbl-qa-recurr tr.table-row td {
        padding: 10px;
    }
    /* Fixe aussi la largeur pour aligner les colonnes */
    .tbl-qa-recurr thead,
    .tbl-qa-recurr tbody tr {
        display: table;
        width: 95%;
        table-layout: fixed;
    }
    .filter-btn {
        font-family: 'Inter', sans-serif;
        font-size: 0.7em;
        padding: 3px;
        cursor: pointer;
        background-color: #F9BB30;
        border: none;
        border-radius: 5px;
    }
    .dropdown.show .dropdown-content {
        font-family: 15em;
    }
    /* BOUTON AJOUTER */
    .add_recurr {
        background-color: #F9BB30;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-size: 0.7em;
        position: fixed;
        bottom: 25px;
        right: 25px;
        padding: 12px 24px;
        border: none;
        text-decoration: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .modif_recurr {
        background-color: #4151AC;
        color: #f5f5f5;
        font-size: 0.5em;
        border: none;
        text-decoration: none;
        bottom: 15px;
        /* Distance du bas */
        left: 15px;
        /* Distance de la gauche */
        padding: 8px 15px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
}

@media screen and (max-height: 700px) {
    /* Ajoute une hauteur fixe au tbody si trop d’enregistrements */
    .tbl-qa-recurr tbody {
        max-height: 350px;
    }
}

@media screen and (min-height: 1080px) {
    .titre {
        font-size: 4em;
        margin-bottom: 17px;
    }
    label {
        font-size: 18px;
    }
    /* TABLE STYLE */
    .tbl-qa-recurr {
        width: 85%;
        font-size: 2.8em;
        background-color: #f5f5f5;
        border-radius: 15px;
        border: 1px solid #555;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
    }
    .tbl-qa-recurr th.table-header {
        padding: 30px;
        text-align: center;
        font-family: 'Caveat Brush', cursive;
        font-size: 0.85em;
        color: #000000;
        border-bottom: 1px solid #ccc;
    }
    /* Ajoute une hauteur fixe au tbody si trop d’enregistrements */
    .tbl-qa-recurr tbody {
        display: block;
        font-size: 0.55em;
        max-height: 750px;
        overflow-y: auto;
    }
    /* Fixe aussi la largeur pour aligner les colonnes */
    .tbl-qa-recurr thead,
    .tbl-qa-recurr tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .filter-btn {
        font-family: 'Inter', sans-serif;
        font-size: 0.8em;
        cursor: pointer;
        padding: 8px;
        background-color: #F9BB30;
        border: none;
        border-radius: 5px;
    }
    /* BOUTON AJOUTER */
    .add_recurr {
        background-color: #F9BB30;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-size: 1.6em;
        position: fixed;
        bottom: 25px;
        right: 25px;
        padding: 12px 24px;
        border: none;
        text-decoration: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .modif_recurr {
        background-color: #4151AC;
        color: #f5f5f5;
        font-size: 1.2em;
        border: none;
        text-decoration: none;
        bottom: 15px;
        /* Distance du bas */
        left: 15px;
        /* Distance de la gauche */
        padding: 8px 15px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
    .add2_recurr {
        background-color: #F9BB30;
        color: #f5f5f5;
        font-family: 'Inter', sans-serif;
        font-size: 1.2em;
        text-decoration: none;
        /* Enlève le soulignement */
        border: none;
        bottom: 15px;
        /* Distance du bas */
        right: 15px;
        /* Distance de la droite */
        padding: 10px 25px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
    }
    .retour {
        background-color: #4151AC;
        color: #f5f5f5;
        font-size: 0.5em;
        border: none;
        text-decoration: none;
        left: 15px;
        /* Distance de la gauche */
        padding: 10px 25px;
        /* Ajoute de l'espace à l'intérieur du bouton */
        border-radius: 15px;
        /* bordure du bouton (arrondie)*/
    }
}